body{
    font-family: 'Raleway', sans-serif;
}

#subheader{
    margin-bottom: 40px;
}


#subheader a{
    color: black;
}



#content img{
    height: 500px;

}

#content2 {
    margin-top: 50px;
}

#content3{
    margin-top: 50px;
    background-color: #e9ecef;
    padding-top: 50px;
    padding-bottom: 50px;
}

#content4{
    margin-top: 50px;
}

#content4 img{
    height: 500px;
}

#subfooter2{
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
}